body {
  margin: 0;
  padding: 24px;
  background-color: #183059; /* dark blue */
}
.border {
  border: 1px solid #888;
  border-radius: 4px;
  padding: 16px;
  background: #fff;
  margin-bottom: 18px;
}
hr {
  border: none;
  border-top: 1px solid #888;
  margin: 24px 0;
}
h1, h2, h3, p, th, td, span {
  color: #111;
}
.highlight {
  box-shadow: none; 
}
table {
  border-collapse: collapse;
  margin-bottom: 24px;
  background: #fff;
}
td, th {
  border: 1px solid #888;
  padding: 8px 16px;
  font-size: 16px;
  text-align: center;
}
.WC {
  font-size: 1.5em;
  font-weight: bold;
}